/* You can add global styles to this file, and also import other style files */

.background-dark-red{
  background-color: #5d001e;
}

.background-light-gray{
  background-color: #e3e2df;
}

.background-gray-red{
  background-color: #e3afbc;
}

.background-purple-red{
  background-color: #9a1750;
}

.background-pink-red{
  background-color: #ee4c7c;
}
